<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Nombres</title>
</head>
<body>
    <h1>Lista de Nombres</h1>
    {% if new_name %}
    <p>¡El nombre "{{ new_name }}" ha sido creado con éxito!</p>
    {% endif %}
    <ul>
        {% for index, name in indexed_names %}
            <li>{{ index }}. {{ name }}</li>
        {% endfor %}
    </ul>
     <script>
        // Esta función recarga la página después de 1 segundo
        function recargarPagina() {
            setTimeout(function() {
                location.reload();
            }, 1000); // 1000 milisegundos = 1 segundo
        }

        // Llamar a la función cuando se carga el documento
        document.addEventListener("DOMContentLoaded", function() {
            recargarPagina();
        });
    </script>
</body>
</html>
